body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .header {
    width: 35%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    background-color:#a4d4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    

    & .logo {
        max-width: 100px;
        margin-bottom: 20px;
      }
      
      & .titulo {
        text-align: center;
        margin: 10px 0;
      }
      
      & .login {
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      & .dados {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 10px auto;
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid #fbfbfb;
      }
      
      & .dados label {
        margin-right: 10px;
        color: #666;
      }
      
      & .dados input {
        border: none;
        outline: none;
        flex-grow: 1;
        background: none;
        padding: 10px;
        font-size: 0.9rem;
      }
      
      & .btn {
        width: 50%;
        background-color: #ffffff;
        border: none;
        color: #8ebf95;
        padding: 10px 20px;
        border: 2px solid #8ebf95;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        margin-top: 50px;
        border-radius: 5px;
      }
      
      & .btn:hover {
        background: #8ebf95;
        color: white;
        transform: scale(1.05);
      }
  }
  
  
  @media (max-width: 600px) {
    .header {
      width: 100%;
      height: 100vh;
      border-radius: 0;
      padding: 15px;

    & .dados {
        width: 75%;
    }
    
    & .btn {
        width: 50%;
    }
    }


}
  